---
/* BentoGrid.astro
 * 关于页面的响应式网格布局组件
 *
 * 结构：
 * - 响应式网格卡片系统（BentoItem 组件）
 * 
 * Props:
 * - bento: 响应式网格卡片系统
 */

import BentoItem from "./BentoItem.astro";
import type { BentoGridProps as Props } from "@appTypes/site";

const { bento } = Astro.props;
---

<div class="bento-grid animate-fade-in-up">
    {bento.map((item) => <BentoItem item={item} />)}
</div>
