---
/**
 * BaseLayout.astro
 * 基础布局组件
 *
 * 结构：
 * - 头部：BaseHead
 * - 主体内容：slot
 * - 底部：BaseFooter
 * 数据：
 * - getSiteConfig: 获取网站配置
 * 样式：
 * - 全局样式 global.css
 *
 * Props:
 * - title: 页面标题
 * - description: 页面描述
 * - og_image: Open Graph 图片 URL
 */

import "@styles/global.css";

import ThemeToggle from "@components/theme/ThemeToggle.astro";
import BaseHead from "@components/layout/BaseHead.astro";
import BaseFooter from "@components/layout/BaseFooter.astro";
import Announcement from "@components/common/Announcement";
import { getSiteConfig } from "@utils/config";
import type { BaseLayoutProps as Props } from "@appTypes/site";

const { title, description, og_image } = Astro.props;

const siteConfig = await getSiteConfig();
const announcements = siteConfig.announcements || [];
---

<!doctype html>
<html lang="zh-CN">
    <head>
        <BaseHead title={title} description={description} og_image={og_image}>
            <slot name="head" />
        </BaseHead>
    </head>
    <body>
        <!-- 全局公告 -->
        <Announcement announcements={announcements} client:idle />

        <!-- 暗黑模式切换按钮 -->
        <ThemeToggle />

        <slot />
        <BaseFooter />
    </body>
</html>
